@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,200&display=swap");

:root {
  --ff: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 6px;
  background-color: rgb(203, 203, 203);
}
::-webkit-scrollbar-thumb{
  background-color: rgba(108, 108, 108, 0.644);
}


body {
  /* overflow: hidden; */
  font-family: var(--ff);
  user-select: none;
  background: url(./assets/imgs/low-poly-grid-haikei-body.svg);
  background-repeat: no-repeat;
  background-size: cover;
  caret-color: rgb(151 151 151 / 39%);
}

a,
h1,
h2,
h3,
span,
p {
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.51);
}
img {
  /* filter: drop-shadow(0px 2px 3px rgb(65, 65, 65)); */
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: url(./assets/imgs/low-poly-grid-haikei-textarea2.svg);
  box-shadow: 0px 6px 26px -2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 6px 26px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 6px 26px -2px rgba(0, 0, 0, 0.25);
  transition: background 1s ease-in-out;
}
nav:hover {
  background: url(./assets/imgs/low-poly-grid-haikei-textarea.svg);
}
.logo {
  flex: 1;
}
.logo span {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  /* background-image: url(./assets/imgs/eagle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
  position: relative;
}
.logo span::after {
  content: url(./assets/imgs/eagle.png);
  position: absolute;
  left: 2.7rem;
  top: -1rem;
}
nav p {
  margin-left: 1rem;
  font-size: 1.2rem;
  /* flex: 1; */
  transform: rotate(-90deg);
  position: absolute;
  left: -8rem;
  bottom: 25rem;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  margin-right: 1rem;
}
nav ul li {
  cursor: pointer;
}

.user {
}

.user img {
  width: 35px;
  max-width: 100%;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  background: url(./assets/imgs/blurry-gradient-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 1px 0px 24px -4px rgba(187, 187, 187, 0.63);
  box-shadow: inset 1px 0px 24px -4px rgba(187, 187, 187, 0.63);
  position: relative;
}
.blocks {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 0.5rem;
}
.blocks button {
  margin-top: 1rem;
  align-self: center;
}
.blocks button:focus {
  outline: rgb(255, 255, 255);
  background: rgb(156 156 156 / 53%);
  filter: invert(0);
  color: rgb(255, 255, 255);
}
textarea {
  min-width: 228px;
  width: 100%;
  max-width: 340px;
  height: 238px;
  border-radius: 20px;
  border: 1px solid #c0c0c07d;
  padding: 1rem;
  resize: none;
  font-family: var(--ff);
  font-size: 1.5rem;
  outline: transparent;
  -webkit-box-shadow: 0px 17px 21px -2px rgba(162, 162, 162, 0.61);
  box-shadow: 0px 17px 21px -2px rgba(162, 162, 162, 0.61);
  background: url(./assets/imgs/low-poly-grid-haikei-textarea.svg);
  background-position: center;
  background-size: cover;
  transition: all 2s ease-in-out;
}
textarea:hover {
  border: 1px solid #c0c0c0;
  box-shadow: 0px 17px 21px -2px rgba(162, 162, 162, 0.61);
  background: url(./assets/imgs/low-poly-grid-haikei-textarea2.svg);
  background-position: center;
  background-size: cover;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.input-container button {
  width: 100px;
  background-color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 20px;
  border: none;
  margin: 1rem;
  background: url(./assets/imgs/low-poly-grid-haikei-textarea.svg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 17px 21px -2px rgba(162, 162, 162, 0.61);
  box-shadow: 0px 17px 21px -2px rgba(162, 162, 162, 0.61);
  cursor: pointer;
}
.input-container button:hover {
  background: url(./assets/imgs/low-poly-grid-haikei-textarea2.svg);
  background-position: center;
  background-size: cover;
  color: rgb(0, 0, 0);
}

.input-container button:active {
  transform: translate(2px, 2px);
}

#delete img {
  width: 26px;
  filter: grayscale(1);
}
#delete {
  background: transparent;
  width: auto;
  box-shadow: none;
  position: absolute;
  bottom: 2.4rem;
  left: -2rem;
}

.icon-container {
  position: absolute;
  right: 5px;
  bottom: 0;
}
.icon-container img {
  max-width: 100%;
  width: 23px;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin: 0 auto;
  }
  .logo {
    flex: 0;
  }
  nav p {
    transform: rotate(0);
    position: static;
    flex: 1;
  }
  .blocks {
    margin-top: 14rem;
  }
  .icon-container {
    position: absolute;
    right: 5px;
    bottom: 0;
  }
  .icon-container img {
    max-width: 100%;
    width: 35px;
  }
}
@media screen and (min-width: 960px) {
  .wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    background: url(./assets/imgs/blurry-gradient-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: none;
  }
  .blocks {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 18px;
  }
  .blocks {
    transform: scale(1.5);
    margin-top: 17rem;
  }
  nav {
    border: 1px solid whitesmoke;
  }
}
